.timer {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  border-radius: 8px;
  background: none;
  border: 1px solid #ffffff33;
}

.progress-bar {
  background-color: rgba(0, 0, 0, 0.1); /* Lighter background for the progress bar */
  border-radius: 8px;
  height: 20px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  overflow: hidden; /* Ensure progress doesn't overflow */
}

.progress {
  height: 100%;
  border-radius: 8px;
  transition: width 0.75s ease-in; /* Change to 0.75s for smooth fill effect */
}
