<div class="quiz-container">
  <!-- Navigation Box -->
  <div class="navigation-box">
    <h3>Question Navigation</h3>
    <div class="question-numbers">
      <div *ngFor="let number of questionNumbers"
           [ngClass]="{'answered': isAnswered(number), 'not-answered': !isAnswered(number)}"
           (click)="navigateToQuestion(number)">
        {{ number }}
      </div>
    </div>
  </div>

  <!-- Main Quiz -->
  <div class="quiz">
    <div *ngIf="currentQuestionIndex < questions.length">
      <app-lesson-timer [timeLimit]="30"></app-lesson-timer>
      <h2>Question {{ currentQuestionIndex + 1 }}</h2>
      <p>{{ questions[currentQuestionIndex].question }}</p>

      <!-- Multiple-choice questions -->
      <div *ngIf="questions[currentQuestionIndex].options.length > 0">
        <div *ngFor="let option of questions[currentQuestionIndex].options">
          <label>
            <input type="radio" name="options" [(ngModel)]="selectedOption" [value]="option">
            {{ option }}
          </label>
        </div>
      </div>

      <!-- True/False questions -->
      <div *ngIf="questions[currentQuestionIndex].options.length === 0">
        <label>
          <input type="radio" name="options" [(ngModel)]="selectedOption" value="True">
          True
        </label>
        <label>
          <input type="radio" name="options" [(ngModel)]="selectedOption" value="False">
          False
        </label>
      </div>

      <button (click)="submitAnswer()">Submit Answer</button>
      <p>{{ feedback }}</p>
    </div>

    <div *ngIf="showReview">
      <h2>Review Your Answers</h2>
      <p>Total Questions: {{ questions.length }}</p>
      <p>Correct Answers: {{ correctCount }} / {{ questions.length }} ({{ correctPercentage }}%)</p>
      <ul>
        <li *ngFor="let result of results" [ngClass]="{'correct': result.isCorrect, 'incorrect': !result.isCorrect}">
          <p>Question {{ result.index + 1 }}: {{ result.question }}</p>
          <p>Your Answer: {{ result.selectedOption }}</p>
          <p>Correct Answer: {{ result.correctAnswer }}</p>
          <p>Status: {{ result.isCorrect ? 'Correct' : 'Incorrect' }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
