/* Dark theme for lesson bar */
.lesson-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color); /* Example: #333 */
  padding: 10px;
  border-bottom: 1px solid var(--border-color); /* Example: #444 */
}

.topic-container {
  display: flex;
  flex-direction: column;
  margin: 0 10px; /* Space between topics */
  flex: 1 1 200px; /* Allow topics to grow and shrink */
}

.topic-title {
  height: 40px;
  cursor: pointer;
  padding: 10px;
  background: linear-gradient(115deg, #14532d, #15803d 73%, #166534); /* Gradient background */
  color: var(--text-color); /* Example: #fff */
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.topic-title:hover {
  background: linear-gradient(115deg, #166534, #15803d 73%, #14532d); /* Gradient for hover */
  transform: scale(1.05); /* Slightly enlarge the title on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add a shadow for depth */
}

.lesson-list {
  margin-top: 5px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.lesson-item {
  cursor: pointer;
  margin-top: 5px;
  padding: 5px;
  background-color: var(--lesson-bg); /* Example: #444 */
  color: var(--text-color); /* Example: #fff */
  border-radius: 5px;
  transition: background-color 0.3s;
}

.lesson-item:hover {
  background-color: var(--lesson-hover-bg); /* Example: #555 */
}
/* Style for the master button */
.close-all-button {
  cursor: pointer;
  padding: 5px 10px;
  background: rgba(255, 0, 0, 0.635); /* Gradient background */
  color: var(--text-color); /* Example: #fff */
  border: none;
  border-radius: 5px;
  margin-top: 10px; /* Space above the button */
  font-weight: bold;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Subtle shadow for depth */
  align-self: center; /* Center the button horizontally */
  display: block; /* Ensure the button is block level */
}

.close-all-button:hover {
  background: linear-gradient(red); /* Gradient background */
}

@media (max-width: 480px) {
  .topic-title {
    font-size: 10px; /* Adjust font size for smaller screens */
    padding: 0 3px; /* Adjust horizontal padding */
  }
}
