<div class="lesson-bar">
  <div *ngFor="let topic of topics" class="topic-container">
    <div class="topic-title" (click)="toggleLessons(topic)">
      {{ topic.title }}
    </div>
    <div *ngIf="topic.expanded" class="lesson-list">
      <div *ngFor="let lesson of topic.lessons" (click)="onSelectLesson(lesson)" class="lesson-item">
        {{ lesson }}
      </div>
      <!-- Master button to close all dropdowns -->
      <button *ngIf="isAnyDropdownExpanded()" class="close-all-button" (click)="closeAllLessons()">Close All</button>
    </div>
  </div>
</div>
